body {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.card-spacer {
  margin-left: 20px;
  margin-right: 20px;
  width: 15rem;
}

.landing-title {
  font-size: 100px;
  color: white;
}

@media screen and (max-width: 1200px) {
  .card-spacer {
    width: 12rem;
  }
}

@media screen and (max-width: 992px) {
  .landing-title {
    font-size: 90px;
  }
  .card-spacer {
    margin-top: 20px;
    width: 20rem;
  }
}

@media only screen and (max-width: 768px) {
  .card-spacer {
    width: 30rem;
  }

  .landing-title {
    font-size: 70px;
  }
}

@media screen and (max-width: 543px) {
  .landing-title {
    font-size: 60px;
  }
}

@media screen and (max-width: 468px) {
  .landing-title {
    font-size: 50px;
  }
}
