html,
body {
  position: relative;
  height: 100%;
}

body {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(1600px);
  -moz-transform: perspective(1600px);
  -ms-transform: perspective(1600px);
  -o-transform: perspective(1600px);
  transform: perspective(1600px);
  overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: table;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s all ease;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.video-bg.active {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  pointer-events: auto;
}
.video-bg .text-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.video-bg .par {
  color: #fff;
  line-height: 1.5;
  margin-bottom: 40px;
  font-size: 20px;
  opacity: 0.8;
}
.video-bg button {
  padding: 15px 40px;
  border: none;
  font-size: 16px;
  background: #fff;
  color: #000;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.25);
  transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  will-change: transform;
}
.video-bg button:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.video-bg button:active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.video-bg button:focus {
  outline: none;
}

.slider-ctr {
  overflow-x: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  scroll-snap-type: proximity;
  scroll-snap-destination: 30px 0;
  z-index: 9;
}
.slider-ctr.disabled {
  pointer-events: none;
}
.slider-ctr .text-content {
  position: fixed;
  top: 60px;
  left: 60px;
}
.slider-ctr .title {
  font-size: 30px;
  margin-bottom: 10px;
  color: #555;
}
.slider-ctr .par {
  color: #777;
}

.slider-scroll {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 3060px;
  padding: 0 30px;
  box-sizing: content-box;
}
.slider-scroll .slide {
  width: 340px;
  height: 100%;
  float: left;
  box-sizing: border-box;
  padding: 0 30px;
  display: table;
  scroll-snap-coordinate: 0 0;
}
.slider-scroll figure {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.slider-scroll .image-ctr {
  width: 100%;
  position: relative;
  transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  will-change: transform;
}
.slider-scroll .image-ctr.disabled {
  pointer-events: none;
  transition: none;
}
.slider-scroll .image-ctr:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.slider-scroll .image-ctr figcaption {
  position: absolute;
  right: 0;
  bottom: -40px;
  left: 0;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  opacity: 0;
  transition: 0.15s opacity ease;
}
.slider-scroll .image-ctr:hover figcaption {
  opacity: 1;
  transition: 0.15s opacity ease 0.1s;
}
.slider-scroll .image {
  box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 100%;
  height: 417px;
  position: relative;
  background: no-repeat center center / cover;
}
.slider-scroll .image .light {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  opacity: 0;
  transition: 0.15s opacity ease;
  border-radius: 3px;
}
.slider-scroll .image .light.light-on {
  opacity: 1;
}
.slider-scroll .image:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
  transition: 0.15s all ease-out;
  opacity: 0;
  border-radius: 5px;
}
.slider-scroll .image:hover:before {
  opacity: 1;
}
.slider-scroll .image.lloris {
  background-image: url("https://tot-tmp.azureedge.net/media/20211/firstteam_hugolloris.png?anchor=center&mode=crop&width=750");
}
.slider-scroll .image.toby {
  background-image: url("https://tot-tmp.azureedge.net/media/20219/firstteam_tobyalderweireld.png?anchor=center&mode=crop&width=750");
}
.slider-scroll .image.vertonghen {
  background-image: url("https://tot-tmp.azureedge.net/media/20212/firstteam_janvertonghen.png?anchor=center&mode=crop&width=750");
}
.slider-scroll .image.dier {
  background-image: url("https://tot-tmp.azureedge.net/media/20205/firstteam_ericdier.png?anchor=center&mode=crop&width=750");
}
.slider-scroll .image.sissoko {
  background-image: url("https://tot-tmp.azureedge.net/media/20215/firstteam_moussasissoko.png?anchor=center&mode=crop&width=750");
}
.slider-scroll .image.locelso {
  background-image: url("https://tot-tmp.azureedge.net/media/20536/firstteam_giovanilocelso.png?anchor=center&mode=crop&width=750");
}
.slider-scroll .image.moura {
  background-image: url("https://tot-tmp.azureedge.net/media/20214/firstteam_lucasmoura.png?anchor=center&mode=crop&width=750");
}
.slider-scroll .image.son {
  background-image: url("https://tot-tmp.azureedge.net/media/20210/firstteam_heungminson.png?anchor=center&mode=crop&width=750");
}
.slider-scroll .image.kane {
  background-image: url("https://tot-tmp.azureedge.net/media/20208/firstteam_harrykane.png?anchor=center&mode=crop&width=750");
}

.copyright {
  z-index: 99;
}
