.navbar-custom {
  background-color: #041e47;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
  font-family: "San Francisco";
}

.contact-map {
  width: 600px;
  height: 450px;
  margin-bottom: 100px;
}

.about-img {
  width: 700px;
  transition: opacity 1.5s;
}

.next-match-img {
  width: 768px;
  height: 432px;
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1450px) {
  .about-img {
    width: 600px;
  }
}

@media screen and (max-width: 1230px) {
  .about-img {
    width: 500px;
  }

  .contact-map {
    width: 500px;
    height: 350px;
  }
}

@media screen and (max-width: 1050px) {
  .about-img {
    width: 400px;
  }

  .contact-map {
    width: 400px;
    height: 250px;
  }
}

@media screen and (max-width: 992px) {
  .next-match-img {
    width: 568px;
    height: 319px;
  }
  #canvas {
    max-width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .next-match-img {
    width: 450px;
    height: 253px;
  }
  #canvas {
    max-width: 500px;
  }
}

@media screen and (max-width: 476px) {
  .next-match-img {
    width: 350px;
    height: 196px;
  }
  #canvas {
    max-width: 350px;
  }
}
