.translucent-ctr {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background: url("https://images.adsttc.com/media/images/5ce6/aa03/284d/d19f/3200/00bf/slideshow/Populous_Tottenham_Stadium_London_%C2%A9Hufton_Crow_(11).jpg?1558620612")
      no-repeat center center/cover;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  .translucent-ctr .translucent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f5f5f5;
    opacity: 0.5;
  }